*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
/* h1{
    color: aquamarine !important;
    background-color: red;
    text-align: center;
} */
h1{
    color:black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}

/* #hero{
    color: green;
}
.same{
    color: rgb(222, 51, 79);
    background-color: bisque;
} */

/* #box1{
    height: 150px;
    width: 150px;
    background-color: red;
    position: absolute;
    top:250px;
    left:250px;
    font-size: 100px;
    text-align: center;
    z-index: 9;
} */
/* #inner{
    height: 50px;
    width: 50px;
    background-color: blue;
} */

/* #box2{
    height: 150px;
    width: 150px;
    background-color:blue;
    position: absolute;
    top:200px;
    left:170px;
    font-size: 100px;
}

#box3{
    height: 150px;
    width: 150px;
    background-color:lightgreen;
    position: absolute;
    font-size: 100px;
    text-align: center;
    left: 70%;
    top: 70%;
    transform: translate(-100%,-80%);
} */

/* button{
    margin: 50px;
   padding: 5px;
    background-color: black;
    color: aliceblue;
    font-size: larger;
    border: 5px solid red;
    border-radius: 50px;
    transition: all ease 0.10s;
} */

/* button:active{
    background-color: aliceblue;
    color: black;
} */
/* 
button:hover{
    background-color: aliceblue;
    color: black;
} */